<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
        <label for="from">From</label>
        <input id="from" name="from" required="required" />
        <br />
        <br />
        <label for="to">To</label>
        <input id="to" name="to" required="required" />
        <br />
        <br />
        <label for="departureDate">Departure Date</label>
        <input id="departureDate" name="departureDate"  type="date" th:value="${date}" th:min="${date}"/>
        <br />
        <br />
        <label for="noOfPassengers">No of Passengers</label>
        <input id="noOfPassengers" name="noOfPassengers"  type="number" required="required">
        <br/>
        <br/>
        <label for="classType">Class Type</label>
        <select id="classType" name="classType">
            <option th:value="Economic">Economic</option>
            <option th:value="First">First</option>
            <option th:value="Second">Second</option>
        </select>
        <input type="submit" value="Search" />
    </form>
</body>
</html>