<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <h3>Your search results</h3>
    <table border="1">
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Depart Time</th>
        <th>Arrival Time</th>
        <th>Available Seats</th>
        <th>[(${classType})] Class</th>
        <th>[(${classType})] Class Seats Price</th>
        <th>Book Ticket</th>
        <tr th:each="flight:${flights}">
            <td th:text="${flight.number}" id="number"></td>
            <td th:text="${flight.source}"></td>
            <td th:text="${flight.destination}"></td>
            <td th:text="${flight.departTime}"></td>
            <td th:text="${flight.arrivalTime}"></td>
            <td th:text="${flight.getTotalAvailableSeats()}"></td>
            <td th:text="${flight.getAvailableClassTypeSeats(classType)}"></td>
            <td th:text="${flight.pricePerSeat}"></td>
            <td><form th:action="@{/{number}/{noOfPassengers}/{classType}/{pricePerSeat} (number = ${flight.number},noOfPassengers=${noOfPassengers},classType=${classType},pricePerSeat=${flight.pricePerSeat})}" method="post">
                <input type="submit" value="Book ticket">
            </form></td>
        </tr>
    </table>
</body>
</html>