<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <h3>Your search results</h3>
    <table border="1">
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Depart Time</th>
        <th>Arrival Time</th>
        <th>Available Seats</th>
        <th>EconomicClass Seats</th>
        <th>FirstClass Seats</th>
        <th>SecondClass Seats</th>
        <th>No of Passengers</th>
        <th>Class Type</th>
        <th>Book Ticket</th>
        <tr th:each="flight:${flights}">
            <td th:text="${flight.number}" id="number"></td>
            <td th:text="${flight.source}"></td>
            <td th:text="${flight.destination}"></td>
            <td th:text="${flight.departTime}"></td>
            <td th:text="${flight.arrivalTime}"></td>
            <td th:text="${flight.availableSeats}"></td>
            <td th:text="${flight.economicClassSeats}"></td>
            <td th:text="${flight.firstClassSeats}"></td>
            <td th:text="${flight.secondClassSeats}"></td>
            <form th:action="@{'/' + ${flight.number}}" th:method="post">
                <td><input id="noOfPassengers" name="noOfPassengers"  type="number" required="required"></td>
                <td>
                    <select id="classType" name="classType">
                        <option th:each="type: ${classType}"
                                th:value="${type}"
                                th:text="${type}"></option>
                    </select>
                </td>
                <td><input type="submit" value="Book Ticket"></td>
            </form>
        </tr>
    </table>
</body>

</html>